{% extends 'base.html' %}
{% block title %}DashBoard{% endblock %}
{% load static %}

{% block content %}

    <div class="panel panel-default">
        <div class="table-responsives">
            <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <button type="button" style="float: right; margin-bottom: 10px" class="btn btn-action add_org" data-toggle="modal" data-target="#addModal">Add Device</button>

                    <div class="col-sm-12">
                        <table id="dt-orgList" class="table table-striped dataTable"
                               style="width: 100%;" role="grid" aria-describedby="example_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending">
                                    Device ID
                                </th>
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending">
                                    Name
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Address
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Status
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Manage
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in organization %}
                                <tr>
                                    <td class="device_id">{{ data.device_id }}</td>
                                    <td class="name">{{ data.name }}</td>
                                    <td class="address">{{ data.address }}</td>
                                    <td>
                                        <button type="button" data-toggle="modal"
                                                class="{{ data.status }} strip_values"
                                                data-target="#stripModal"
                                                data-values='{
                                                "data": "{{ data }}"
                                                }'></button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-action assign_user" data-toggle="modal"
                                                data-target="#assignUserModal"
                                                data-values='{
                                                "device_id": "{{ data.device_id }}",
                                                "users": "{{ users }}"
                                                }'>Assign User</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Device ID</th>
                                <th rowspan="1" colspan="1">Name</th>
                                <th rowspan="1" colspan="1">Address</th>
                                <th rowspan="1" colspan="1">Status</th>
                                <th rowspan="1" colspan="1">Manage</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Job Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add Organization</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/sunya/organization/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="device_id">Device ID</label>
                                <input name="device_id" class="form-control" type="text" required="required">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input name="name" class="form-control" type="text" required="required">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input name="address" class="form-control" type="text" required="required">
                            </div>
                            <div class="form-group">
                                <label for="blood_strip">Blood Strip</label>
                                <input name="blood_strip" class="form-control" type="number" required="required">
                            </div>
                            <div class="form-group">
                                <label for="urine_strip">Urine Strip</label>
                                <input name="urine_strip" class="form-control" type="number" required="required">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Assign User -->
        <div class="modal fade" id="assignUserModal" tabindex="-1" role="dialog" aria-labelledby="assignUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Assign User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/sunya/organization/user/" method="post">
                            {% csrf_token %}
                            <span style="font-size: 20px">Select existing user</span>
                            <div class="form-group" id="users_select">
                                <label>Users</label>
                                <select class="custom-select mr-sm-2" name="users"></select>
                            </div>
                            <span style="font-size: 20px">Create new user</span>
                            <div class="form-group">
                                <input id="username" placeholder="Username" name="username" class="form-control" type="text" required="required">
                            </div>
                            <div class="form-group">
                                <input id="password" placeholder="Password" name="password" class="form-control" type="password" required="required">
                            </div>
                            <div class="form-group">
                                <input id="f_name" placeholder="First Name" name="f_name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="l_name" placeholder="Last Name" name="l_name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="email" placeholder="Email" name="email" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="address" placeholder="Address" name="address" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <input id="contact" placeholder="Contact Number" name="contact" class="form-control" type="number">
                            </div>
                            <div class="form-group" style="display: none;">
                                <input id="device_id" name="device_id" class="form-control" type="text">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Strip -->
        <div class="modal fade" id="stripModal" tabindex="-1" role="dialog" aria-labelledby="stripModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Strip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/sunya/organization/strip/" method="post">
                            {% csrf_token %}
                            <div class="form-group" style="display: none;">
                                <input id="org_id" name="org_id" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="ecg">ECG</label>
                                <button id="ecg" name="ecg" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="temperature_sensor">Temperature Sensor</label>
                                <button id="temperature_sensor" name="temperature_sensor" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="weighing_machine">Weighing Machinne</label>
                                <button id="weighing_machine" name="weighing_machine" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="measuring_tool">Measuing Tool</label>
                                <button id="measuring_tool" name="measuring_tool" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="bp_sensor">BP Sensor</label>
                                <button id="bp_sensor" name="bp_sensor" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="pulse_sensor">Pulse Sensor</label>
                                <button id="pulse_sensor" name="pulse_sensor" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="blood_sensor">Blood Sensor</label>
                                <button id="blood_sensor" name="blood_sensor" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="urine_device">Urine Device</label>
                                <button id="urine_device" name="urine_device" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="glucose_device">Glucose Device</label>
                                <button id="glucose_device" name="glucose_device" class="btn btn-danger" type="button" disabled></button>
                            </div>
                            <div class="form-group">
                                <label for="blood_strip">Blood Strip</label>
                                <input id="blood_strip" name="blood_strip" class="form-control" type="number"
                                       required="required" style="width: 50%">
                            </div>
                            <div class="form-group">
                                <label for="urine_strip">Blood Strip</label>
                                <input id="urine_strip" name="urine_strip" class="form-control" type="number"
                                       required="required" style="width: 50%">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}

    <script>
        $(document).ready( function () {
            $('#dt-orgList').DataTable( {
                "bFilter": true
            } );
        } );

    </script>

    <script>
        // Assign User

        $('.assign_user').on('click', function () {
            // Getting Select option values

            var values = $(this).data('values');
            $('#device_id').val(values.device_id);

            regex = /'/gi;

            var users = values.users;
            users = JSON.parse(users.replace(regex, '"'));

            var content = '<option selected hidden value="None">Choose</option>' ;
            for(var i=0; i<users.length; i++){
                content += '<option value="' + users[i].id + '">' + users[i].username + '</option>'
            }
            content += '<option>None</option>' ;

            $("#users_select select").html(content);

            $(function () {
                $("#users_select select").change(function () {
                    var selectedText = $(this).find("option:selected").text();
                    {#var selectedValue = $(this).val();#}
                    {#alert("Selected Text: " + selectedText + " Value: " + selectedValue);#}
                    if (selectedText === 'None'){
                        $("#username").removeAttr('disabled');
                        $("#password").removeAttr('disabled');
                        $("#f_name").removeAttr('disabled');
                        $("#l_name").removeAttr('disabled');
                        $("#email").removeAttr('disabled');
                        $("#address").removeAttr('disabled');
                        $("#contact").removeAttr('disabled');
                    }else{
                        $("#username").attr('disabled', 'disabled');
                        $("#password").attr('disabled', 'disabled');
                        $("#f_name").attr('disabled', 'disabled');
                        $("#l_name").attr('disabled', 'disabled');
                        $("#email").attr('disabled', 'disabled');
                        $("#address").attr('disabled', 'disabled');
                        $("#contact").attr('disabled', 'disabled');
                    }
                });
            });
        });

        // Strip Data
        $('.strip_values').on('click', function () {
            // Getting Select option values

            var values = $(this).data('values');
            regex = /'/gi;

            var data = values.data;
            data = JSON.parse(data.replace(regex, '"'));

            $('#org_id').val(data.id);
            $('#blood_strip').val(data.blood_strip);
            $('#urine_strip').val(data.urine_strip);

            if(data.ecg != 'f'){
                document.getElementById('ecg').className = "btn btn-success"
            }
            if(data.temperature_sensor != 'f'){
                document.getElementById('temperature_sensor').className = "btn btn-success"
            }
            if(data.measuring_tool != 'f'){
                document.getElementById('measuring_tool').className = "btn btn-success"
            }
            if(data.weighing_machine != 'f'){
                document.getElementById('weighing_machine').className = "btn btn-success"
            }
            if(data.bp_sensor != 'f'){
                document.getElementById('bp_sensor').className = "btn btn-success"
            }
            if(data.pulse_sensor != 'f'){
                document.getElementById('pulse_sensor').className = "btn btn-success"
            }
            if(data.blood_sensor != 'f'){
                document.getElementById('blood_sensor').className = "btn btn-success"
            }
            if(data.urine_device != 'f'){
                document.getElementById('urine_device').className = "btn btn-success"
            }
            if(data.glucose_device != 'f'){
                document.getElementById('glucose_device').className = "btn btn-success"
            }
        });

    </script>

{% endblock %}