{% extends 'base.html' %}
{% block title %}DashBoard{% endblock %}
{% load static %}

{% block content %}

    <div class="panel panel-default">
     <form  style="overflow: auto; border: 1px solid black">
     <div style="background-color: #8dd3c7; align-content: right">
         <table class="rectangle">
             <tr>
                 <td>Health Report</td>
                 <td><img style="height: 50px" src="{{ STATIC_URL }}/health/images/logo-tmp.png"></td>
                 <td><img style="height: 50px" src="{{ STATIC_URL }}/health/images/sunya_logo.png"></td>
             </tr>
         </table>
     </div>
     <div style="padding-top: 25px; text-align: center">
         <div><span style="font-size: 20px;">Number of Users: <span>{{ total_user }}</span></span></div>
         <div><span style="font-size: 20px">Number of Tests: <span>{{ total_tests }}</span></span></div>
     </div>
        <div class="table-responsives" style="padding-top: 100px; padding-left: 10px; padding-right: 10px">
            <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">

                        <table id="dt-healthList" class="table table-striped table-bordered dataTable"
                               style="width: 100%;" role="grid" aria-describedby="example_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending">
                                    User ID
                                </th>
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending">
                                    DOB
                                </th>
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending">
                                    First Name
                                </th>
                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending">
                                    Last Name
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Address
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Contact Number
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Email
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Age
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Gender
                                </th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" style="width: 320px;"
                                    aria-label="Position: activate to sort column ascending">
                                    Health
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in health_data %}
                                <tr>
                                    <td class="user_id">{{ data.user.user_id }}</td>
                                    <td class="dob">{{ data.user.dob }}</td>
                                    <td class="first_name">{{ data.user.first_name }}</td>
                                    <td class="last_name">{{ data.user.last_name }}</td>
                                    <td class="address">{{ data.user.address }}</td>
                                    <td class="contact_no">{{ data.user.contact_no }}</td>
                                    <td class="email">{{ data.user.email }}</td>
                                    <td class="age">{{ data.user.age }}</td>
                                    <td class="gender">{{ data.user.gender }}</td>
                                    <td>
                                        <button type="button" data-toggle="modal" data-target="#healthModal" class="btn btn-action health"
                                                data-values='{"user": "{{ data.user }}",
                                            "vital_sign": "{{ data.vital_sign }}",
                                            "blood_test": "{{ data.blood_test }}",
                                            "urine_test": "{{ data.urine_test }}"}'>details</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">User ID</th>
                                <th rowspan="1" colspan="1">DOB</th>
                                <th rowspan="1" colspan="1">First Name</th>
                                <th rowspan="1" colspan="1">Last Name</th>
                                <th rowspan="1" colspan="1">Address</th>
                                <th rowspan="1" colspan="1">Contact No.</th>
                                <th rowspan="1" colspan="1">Email</th>
                                <th rowspan="1" colspan="1">Age</th>
                                <th rowspan="1" colspan="1">Gender</th>
                                <th rowspan="1" colspan="1">Health</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="modal fade" id="healthModal" tabindex="-1" role="dialog" aria-labelledby="healthModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="healthModalLabel">Sunya Health Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="panel panel-default">
                        <div class="table-responsives">
                            <div id="tbl" class="user_table form-inline">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <table id="user_health" class="table table-striped table-bordered">

                                            <tr role="row">
                                                <th style="height: 100px; text-align: left;font-size: 38px">
                                                    SUNYA
                                                </th>
                                            </tr>
                                            <tr role="row">
                                                <td style="text-align: left">
                                                    <span style="font-size: 20px;font-weight: revert">Health Report</span> <br>
                                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">User Info</span>
                                                    <table class="d-user-info">
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">User ID</td>
                                                            <td style="text-align: left" id="user_id">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Device ID</td>
                                                            <td style="text-align: left" id="device_id">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">First Name</td>
                                                            <td style="text-align: left" id="first_name">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Last Name</td>
                                                            <td style="text-align: left" id="last_name">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Address</td>
                                                            <td style="text-align: left" id="address">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Contact No.</td>
                                                            <td style="text-align: left" id="contact_no">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Email</td>
                                                            <td style="text-align: left" id="email">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Age</td>
                                                            <td style="text-align: left" id="age">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Gender</td>
                                                            <td style="text-align: left" id="gender">
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr role="row">
                                                <td style="text-align: left">
                                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">Vital Sign</span>
                                                    <table class="d-health-info">
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Weight (kg)</td>
                                                            <td style="text-align: left" id="weight">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Height (Feet)</td>
                                                            <td style="text-align: left" id="height">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Temperature</td>
                                                            <td style="text-align: left" id="temperature">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Pulse</td>
                                                            <td style="text-align: left" id="pulse">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">BP Systolic</td>
                                                            <td style="text-align: left" id="bp_systolic">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">BP Diastolic</td>
                                                            <td style="text-align: left" id="bp_diastolic">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Sto2</td>
                                                            <td style="text-align: left" id="sto2">
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr role="row">
                                                <td style="text-align: left">
                                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">Blood Test</span>
                                                    <table class="d-health-info">
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Glucose</td>
                                                            <td style="text-align: left" id="b_glucose">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Cholesterol</td>
                                                            <td style="text-align: left" id="cholesterol">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Uric Acid</td>
                                                            <td style="text-align: left" id="uric_acid">
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr role="row">
                                                <td style="text-align: left">
                                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">Urine Test</span>
                                                    <table class="d-health-info">
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Leukocytes</td>
                                                            <td style="text-align: left" id="leukocytes">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Nitrate</td>
                                                            <td style="text-align: left" id="nitrate">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Urobilinogen</td>
                                                            <td style="text-align: left" id="urobilinogen">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Protein</td>
                                                            <td style="text-align: left" id="protein">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Ph</td>
                                                            <td style="text-align: left" id="ph">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Blood</td>
                                                            <td style="text-align: left" id="blood">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Sp. Gravity</td>
                                                            <td style="text-align: left" id="sp_gravity">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Ketone</td>
                                                            <td style="text-align: left" id="ketone">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Bilirubin</td>
                                                            <td style="text-align: left" id="bilirubin">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Glucose</td>
                                                            <td style="text-align: left" id="u_glucose">
                                                        </tr>
                                                        <tr role="row" style="color: #0b2e13">
                                                            <td style="text-align: left">Ascorbic acid</td>
                                                            <td style="text-align: left" id="ascorbic_acid">
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>
        $('.health').on('click', function () {
            let values = $(this).data('values');
            regex = /'/gi;
            client_details = JSON.parse(values.user.replace(regex, '"'));
            vital_sign_details = JSON.parse(values.vital_sign.replace(regex, '"'));
            blood_test_details = JSON.parse(values.blood_test.replace(regex, '"'));
            urine_test_details = JSON.parse(values.urine_test.replace(regex, '"'));

            console.log(client_details)
            // populating user details
            document.getElementById('device_id').innerHTML=client_details.device_id;
            document.getElementById('user_id').innerHTML=client_details.user_id;
            document.getElementById('first_name').innerHTML=client_details.first_name;
            document.getElementById('last_name').innerHTML=client_details.last_name;
            document.getElementById('address').innerHTML=client_details.address;
            document.getElementById('contact_no').innerHTML=client_details.contact_no;
            document.getElementById('email').innerHTML=client_details.email;
            document.getElementById('age').innerHTML=client_details.age;
            document.getElementById('gender').innerHTML=client_details.gender;

            // populating vital sign details
            document.getElementById('weight').innerHTML=vital_sign_details.weight;
            document.getElementById('height').innerHTML=vital_sign_details.height;
            document.getElementById('temperature').innerHTML=vital_sign_details.temperature;
            document.getElementById('pulse').innerHTML=vital_sign_details.pulse;
            document.getElementById('bp_systolic').innerHTML=vital_sign_details.bp_systolic;
            document.getElementById('bp_diastolic').innerHTML=vital_sign_details.bp_diastolic;
            document.getElementById('sto2').innerHTML=vital_sign_details.sto2;

            // populating blood test details
            document.getElementById('b_glucose').innerHTML=blood_test_details.glucose;
            document.getElementById('cholesterol').innerHTML=blood_test_details.cholesterol;
            document.getElementById('uric_acid').innerHTML=blood_test_details.uric_acid;

            // populating urine test details
            document.getElementById('leukocytes').innerHTML=urine_test_details.leukocytes;
            document.getElementById('nitrate').innerHTML=urine_test_details.nitrate;
            document.getElementById('urobilinogen').innerHTML=urine_test_details.urobilinogen;
            document.getElementById('protein').innerHTML=urine_test_details.protein;
            document.getElementById('ph').innerHTML=urine_test_details.ph;
            document.getElementById('blood').innerHTML=urine_test_details.blood;
            document.getElementById('sp_gravity').innerHTML=urine_test_details.sp_gravity;
            document.getElementById('ketone').innerHTML=urine_test_details.ketone;
            document.getElementById('bilirubin').innerHTML=urine_test_details.bilirubin;
            document.getElementById('u_glucose').innerHTML=urine_test_details.glucose;
            document.getElementById('ascorbic_acid').innerHTML=urine_test_details.ascorbic_acid;
        })
    </script>

    <script>

        $(document).ready( function () {
            $('#dt-healthList').DataTable( {
                "bFilter": true
            } );
        } );
    </script>

{% endblock %}