{% extends 'base.html' %}
{% block title %}User Dashboard{% endblock %}
{% load static %}

{% block content %}

    <div class="panel panel-default">
        <div class="table-responsives">
            <div id="tbl" class="user_table form-inline">
                <div class="row">
                    <div class="col-sm-12">

                        <input style="float: right" class="form-control" type="text" id="datepicker" placeholder="MM/DD/YYYY">

                        <table id="user_health" class="table table-striped table-bordered">
                            <tr role="row">
                                <th style="height: 100px; text-align: left">
                                    <span style="font-size: 38px">SUNYA</span>
                                </th>
                            </tr>
                            <tr role="row">
                                <td style="text-align: left">
                                    <span style="font-size: 20px;font-weight: revert">Health Report</span> <br>
                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">User Info</span>
                                    <table class=user-info>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">ID</td>
                                            <td style="text-align: left">{{ health_details.user.username }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">First Name</td>
                                            <td style="text-align: left">{{ health_details.user.first_name }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Last Name</td>
                                            <td style="text-align: left">{{ health_details.user.last_name }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Address</td>
                                            <td style="text-align: left">{{ health_details.user.address }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Contact No.</td>
                                            <td style="text-align: left">{{ health_details.user.contact_no }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Email</td>
                                            <td style="text-align: left">{{ health_details.user.email }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Age</td>
                                            <td style="text-align: left">{{ health_details.user.age }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Gender</td>
                                            <td style="text-align: left">{{ health_details.user.gender }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr role="row">
                                <td style="text-align: left">
                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">Vital Sign</span>
                                    <table class="health-info">
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Weight (kg)</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.weight }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Height (Feet)</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.height }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Temperature</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.temperature }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Pulse</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.pulse }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">BP Systolic</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.bp_systolic }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">BP Diastolic</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.bp_diastolic }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Sto2</td>
                                            <td style="text-align: left">{{ health_details.vital_sign.sto2 }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr role="row">
                                <td style="text-align: left">
                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">Blood Test</span>
                                    <table class="health-info">
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Glucose</td>
                                            <td style="text-align: left">{{ health_details.blood_test.glucose }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Cholesterol</td>
                                            <td style="text-align: left">{{ health_details.blood_test.cholesterol }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Uric Acid</td>
                                            <td style="text-align: left">{{ health_details.blood_test.uric_acid }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr role="row">
                                <td style="text-align: left">
                                    <span style="font-size: 16px;font-weight: revert; color: #cc1111">Urine Test</span>
                                    <table class="health-info">
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Leukocytes</td>
                                            <td style="text-align: left">{{ health_details.urine_test.leukocytes }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Nitrate</td>
                                            <td style="text-align: left">{{ health_details.urine_test.nitrate }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Urobilinogen</td>
                                            <td style="text-align: left">{{ health_details.urine_test.urobilinogen }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Protein</td>
                                            <td style="text-align: left">{{ health_details.urine_test.protein }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Ph</td>
                                            <td style="text-align: left">{{ health_details.urine_test.ph }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Blood</td>
                                            <td style="text-align: left">{{ health_details.urine_test.blood }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Sp. Gravity</td>
                                            <td style="text-align: left">{{ health_details.urine_test.sp_gravity }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Ketone</td>
                                            <td style="text-align: left">{{ health_details.urine_test.ketone }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Bilirubin</td>
                                            <td style="text-align: left">{{ health_details.urine_test.bilirubin }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Glucose</td>
                                            <td style="text-align: left">{{ health_details.urine_test.glucose }}</td>
                                        </tr>
                                        <tr role="row" style="color: #0b2e13">
                                            <td style="text-align: left">Ascorbic acid</td>
                                            <td style="text-align: left">{{ health_details.urine_test.ascorbic_acid }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>
        $(function() {
            $("#datepicker").datepicker().on('change', function() {
                // select on change
                let date = $("#datepicker").datepicker("getDate");
                console.log($.datepicker.formatDate("dd-mm-yy", date));
            });
        });
    </script>

{% endblock %}